@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-editor: #1e1e1e;
  --bg-sidebar: #252526;
  --bg-activity: #333333;
  --text-primary: #d4d4d4;
  --text-comment: #6a9955;
  --text-keyword: #569cd6;
  --text-string: #ce9178;
  --text-class: #4ec9b0;
  --text-function: #dcdcaa;
}

body {
  background-color: var(--bg-editor);
  color: var(--text-primary);
  font-family: 'Fira Code', monospace; /* Tout en mode code */
  overflow: hidden; /* L'app gère son propre scroll */
}

/* Scrollbar style VS Code */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4f4f4f;
}

/* Utilitaires pour la coloration syntaxique */
.text-keyword { color: var(--text-keyword); }
.text-string { color: var(--text-string); }
.text-class { color: var(--text-class); }
.text-function { color: var(--text-function); }
.text-comment { color: var(--text-comment); font-style: italic; }

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}